body {
    background-color: rgba(18, 22, 22, 1);
    height: 100%;
    margin: 0 !important;
}

/*gorny sticker navigcyjny strony*/
nav {
    position: fixed;
    z-index: 1;
    height: 4rem;
    width: 100%;
    background-color: #fff;
    margin: 0 !important;
}
nav div.logo h2 {
    margin: 0;
    margin-top: 15px;
    margin-left: 10px;
    color: rgba(18, 22, 22, 1);
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 2px rgba(18, 22, 22, 1) solid;
    border-top: 2px rgba(18, 22, 22, 1) solid;
    font-size: 1.8rem;
    width: 100px;
}
nav div.logo {
    text-align: center;
    margin: 0;
    width: 125px;
    height: 4rem;
    overflow: hidden;
    float: left;
    cursor: pointer;
}
nav div.logo:hover {
    background-color: #eee;
}
nav div.list {
    width: 500px;
    height: 4rem;
    margin: 0;
    float: right;
}
nav > div.list > ul {
    margin: 0;
    width: 500px;
    height: 4rem;
}
nav > div.list > ul > li {
    cursor: pointer;
    text-align: center;
    line-height: 4rem;
    width: 150px;
    height: 4rem;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    font-family: sans-serif;
}
nav > div.list > ul > li:hover {
    background-color: #ddd;
}

/*kontener na cala zawartosc strony*/
.container {
    position: absolute;
    height: 1250px;
    min-height: 100%;
    width: 60%;
    margin-left: 20%;
    background-color: rgba(81, 81, 81, 1);
    margin-top: 4rem;
}

/*logostrony*/
header {
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header > h1 {
    margin-top: 20px;
    border-bottom: 2px rgba(18, 22, 22, 1) solid;
    border-top: 2px rgba(18, 22, 22, 1) solid;
    width: 50%;
    margin-left: 25%;
}

/*glowna zawartosc*/
main {
    overflow: hidden;
    width: 100%;
    display: block;
    margin-top: 25%;
    text-align: center;
}

/*tabela*/
main table {
    cursor: default;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    font-family: 'Roboto';
    box-sizing: border-box;
}
table #lp {
    width: 32px;
    height: 32px;
}
table .ordinary {
    text-align: center;
    width: 80px;
    line-height: 32px;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid black;
}
table .longTitle {
    text-align: left;
    width: 250px;
    padding-left: 5px;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid black;
}
.title{
    border-bottom: 6px;
}

.otherTr{
    border-bottom: 3px solid rgba(81, 81, 81, 1);
}
table .green {
    width: 32px;
    font-family: arial;
    background-color: #20F298;
    height: 32px;
    font-weight: 600;
    font-size: 1.1em;
}
table .longTeam {
    text-align: left;
    padding-left: 15px;
}
table .normal {
    background-color: #aaa;
    border-right: 3px solid rgba(81, 81, 81, 1);
}


/*wybor druzyny w select*/
main form{
    text-align: center;
}
main form select {
    text-align: center;
    cursor: pointer;
    padding: 0;
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgba(81, 81, 81, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    border: 2px solid #20F298;
    display: block;
    transition: 0.3s;
    float: left;
}
main form select:active{
    border: 4px solid #1cce82;
}

main form select:focus {
    outline: none;
}
main form select:hover {
    border: 4px solid #1cce82;
}
main form select option {
    cursor: pointer;
}
main form select option:focus {
    outline: none;
}

/*wejscia do wprowadzenia wynikow*/
main form input, button {
    display: block;
    text-align: center;
    width: 300px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 2px solid #20F298;
    transition: 0.5s;
}
main form input::placeholder {
    color: white;
    opacity: 0.5;
}
main form input:focus::placeholder {
    opacity: 0;
}

fieldset{
    border: none;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}
.floatright{
    float: right;
}

main form input:focus {
    outline: none;
    border: 4px solid #1cce82;
}

input[type=number],
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    appearance: textfield !important;
    -moz-appearance: textfield !important;
}

input[type=number]:invalid{
    border-color: red;
}

/*przycisk pobierajacy wynik druyny*/
#submitScore {
    position:static;
    cursor: pointer;
    transition: 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submitscore:focus{
    border: 4px solid red;
}

#submitScore:hover {
    border: 4px solid #1cce82;
    color: #aaa;
    transform: scale(1.1);
}

.clearfix:after {
  clear:both;
  content:".";
  display:block;
  height:0;
  line-height:0;
  visibility:hidden;
}

/*przycisk ladujacy json*/
#loadButton {
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    width: 250px;
    height: 70px;
    color: #fff;
    padding: 5px 30px;
    font-size: 2em;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    border-radius: 100px;
    border: none;
    background-color: #20F298;
    display: block;
    margin: auto;
    margin-top: 25%;
    transition: 0.5s;
    overflow: hidden;
}

#loadButton:hover {
    background-color: #1dad6f;
    transform: scale(1.2, 1.2)
}

#loadButton:active {
    background-color: #19c47a;
}

#fileInput {
    display: none;
}

.warning {
    position: relative;
    top: 25%;
    font-family: ARIAL;
    color: #1dad6f;
    font-size: 1.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 20px;
}

#noValue{
    top: 0; 
    position:static;
    display: block;
}

